/*Mixins*/
/*Variables*/
/*Base styles*/
@font-face {
  font-family: 'Paola';
  src: url(../fonts/paola.ttf);
}

body {
  color: #222222;
  font-family: 'Lato', sans-serif;
  background: #e4fafa;
}

h1, h2 {
  font-family: 'Paola';
  color: #32045c;
}

.pink {
  color: #ff08f6;
}

a {
  cursor: pointer;
}

/*Back to top btn styles*/
#home {
  content: "";
  position: fixed;
  display: block;
  right: 3%;
  bottom: 3%;
  border-radius: 10px;
  z-index: 10;
  text-align: center;
  text-decoration: none;
  color: #ff08f6;
  vertical-align: middle;
  padding: 5px;
  font-size: 1.5em;
}

@media screen and (max-width: 480px) {
  #home {
    bottom: 1%;
    right: 2%;
    z-index: 10;
  }
}

/*style for back to top btn for jquery */
.cd-top {
  display: inline-block;
  height: 40px;
  width: 40px;
  position: fixed;
  bottom: 40px;
  right: 10px;
  overflow: hidden;
  white-space: nowrap;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0.3s;
  -ms-transition: opacity 0.3s 0s, visibility 0s 0.3s;
  -o-transition: opacity 0.3s 0s, visibility 0s 0.3s;
  transition: opacity 0.3s 0s, visibility 0s 0.3s;
}

.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0s;
  -ms-transition: opacity 0.3s 0s, visibility 0s 0s;
  -o-transition: opacity 0.3s 0s, visibility 0s 0s;
  transition: opacity 0.3s 0s, visibility 0s 0s;
}

.cd-top.cd-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
  filter: alpha(opacity=100);
}

.cd-top.cd-fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: 0.8;
  filter: alpha(opacity=80);
}

.no-touch .cd-top:hover {
  background-color: #e86256;
  opacity: 1;
  filter: alpha(opacity=100);
}

/*Nav styles*/
.navbar-default {
  background: #e4fafa;
  border: none;
}

.navbar {
  margin-bottom: 0;
}

#main-nav {
  position: relative;
}

.btn-sign-up.btn-sign-up {
  color: #fff;
  background: #ff08f6;
  border: #fff;
  border: 2px solid #ff08f6;
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -ms-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

.btn-sign-up.btn-sign-up a:link, .btn-sign-up.btn-sign-up a:visited {
  color: #fff;
  text-decoration: none;
  padding-left: 3px;
}

@media screen and (min-width: 481px) and (max-width: 767px) {
  .btn-sign-up.btn-sign-up a:link, .btn-sign-up.btn-sign-up a:visited {
    color: #777;
  }
}

#menu-btn {
  box-shadow: 1px 1px 3px #A0A0A0;
}

#menu-btn:hover a {
  color: #ff08f6;
}

@media screen and (min-width: 481px) and (max-width: 767px) {
  #menu-btn {
    background: none;
    border: none;
    box-shadow: none;
  }
}

@media screen and (max-width: 480px) {
  #menu-btn {
    background: none;
    border: none;
    box-shadow: none;
  }
  #menu-btn a:link, #menu-btn a:visited {
    color: #777;
  }
}

.btn-sign-up:hover {
  background: #fff;
  color: #ff08f6;
  border: 2px solid #ff08f6;
}

.btn-sign-up:hover a {
  color: #ff08f6;
}

#brand-logo {
  font-family: 'Paola';
  color: #32045c;
}

.navbar-default .navbar-toggle {
  border: none;
  background: #32045c;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background: #32045c;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
}

/*Hero styles*/
.jumbotron {
  height: 450px;
  background: url(../images/hero_img.jpg);
  background-size: cover;
  text-align: center;
  margin-bottom: 0;
}

@media screen and (min-width: 481px) and (max-width: 767px) {
  .jumbotron {
    height: 350px;
  }
}

@media screen and (max-width: 480px) {
  .jumbotron {
    height: 350px;
  }
}

.jumbotron h1 {
  color: #32045c;
  margin-top: 50px;
  margin-bottom: 0;
}

.jumbotron h3 {
  text-transform: uppercase;
  text-shadow: 0px 0px 2px #fff;
  margin-top: 0;
  margin-bottom: 30px;
}

@media screen and (max-width: 480px) {
  .jumbotron h3 {
    font-size: 1.3em;
  }
}

#hero-btn {
  box-shadow: 0 0 5px #fff;
}

/*About styles*/
#more {
  text-align: center;
  padding-top: 20px;
}

#more a {
  color: #ff08f6;
}

#about {
  text-align: center;
  padding: 50px 0 100px 0;
}

@media screen and (max-width: 480px) {
  #about {
    padding-bottom: 50px;
  }
}

.features {
  margin-bottom: 30px;
}

@media screen and (min-width: 481px) and (max-width: 767px) {
  .features {
    margin: 0 auto;
    width: 80%;
    float: none;
  }
}

.logo {
  position: relative;
  bottom: 5px;
}

.section-title {
  margin-bottom: 50px;
}

.feature-title {
  color: #32045c;
}

.icon {
  color: #fff;
  font-size: 2rem;
  background: #32045c;
  padding: 30px;
  border-radius: 50%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.7);
}

.euro-icon {
  padding: 30px 35px;
}

/*Appstore styles*/
#appstore {
  background: #32045c;
  margin-bottom: -50px;
}

.phone {
  position: relative;
  bottom: 30px;
  margin-bottom: -30px;
}

@media screen and (min-width: 481px) and (max-width: 767px) {
  .phone {
    margin-top: 60px;
  }
}

.download {
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  margin-top: 60px;
}

@media screen and (min-width: 481px) and (max-width: 767px) {
  .download {
    margin: 60px auto 20px auto;
    width: 80%;
  }
}

.download strong {
  color: #ff08f6;
}

@media screen and (max-width: 480px) {
  .app-btn {
    margin-bottom: 70px;
  }
}

/*Sign_up styles*/
#sign_up {
  margin: 100px 0;
  text-align: center;
  padding: 50px 0;
}

@media screen and (min-width: 481px) and (max-width: 767px) {
  #sign_up {
    margin-bottom: 100px;
  }
}

@media screen and (max-width: 480px) {
  #sign_up {
    margin: 50px 0;
  }
}

.title_sign_up {
  color: #32045c;
}

.form-control {
  border: 1px solid #32045c;
  box-shadow: 1px 1px 3px #A0A0A0;
}

@media screen and (min-width: 481px) and (max-width: 767px) {
  .form-control {
    width: 50%;
    margin: 0 auto;
  }
}

.form-control:focus {
  border-color: #ff08f6;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 8, 246, 0.7);
}

#submit-btn {
  box-shadow: 1px 1px 3px #A0A0A0;
}

/*Footer styles*/
footer {
  background: #32045c;
  height: 60px;
  text-align: center;
  color: #fff;
}
