// main: ../style.scss
.jumbotron{
    height: 450px;
    background: url(../images/hero_img.jpg);
    background-size: cover;
    text-align: center;
    margin-bottom: 0;
    @include tablet{
        height: 350px;
    }
    @include phone{
        height: 350px;
    }
    h1{
        color: $main_purple;
        margin-top: 50px;
        margin-bottom: 0;
    }
    h3{
        text-transform: uppercase;
        text-shadow: 0px 0px 2px #fff;
        margin-top: 0;
        margin-bottom: 30px;
        @include phone{
            font-size: 1.3em;
        }
    }
}
#hero-btn{
    box-shadow: 0 0 5px #fff;
}
