.navbar-default{
    background: $background;
    border: none;
}
.navbar{
    margin-bottom: 0;
}
#main-nav{
    position: relative;
}
.btn-sign-up.btn-sign-up{
    color: #fff;
    background: $secondary_pink;
    border: #fff;
    border: 2px solid $secondary_pink;
    @include transition( all .6s ease);
    a:link, a:visited{
        color: #fff;
        text-decoration: none;
        padding-left: 3px;
        @include tablet{
            color: #777;
        }
    }
    
}
#menu-btn{
    box-shadow: 1px 1px 3px #A0A0A0;
    
    &:hover a{
        color: $secondary_pink;
    }
    @include tablet{
        background: none;
        border: none;
        box-shadow: none;
    }
    @include phone{
        background: none;
        border: none;
        box-shadow: none;
        a:link, a:visited{
            color: #777;
        }
    }
}
.btn-sign-up:hover{
    background: #fff;
    color: $secondary_pink;
    border: 2px solid $secondary_pink;
    a{
        color: $secondary_pink;
    }
}
#brand-logo{
    font-family: 'Paola';
    color: $main_purple;
}

.navbar-default .navbar-toggle{
    border: none;
    background: $main_purple;
}
.navbar-default .navbar-toggle .icon-bar{
    background-color: #fff;
}